{% macro blogCard(content) %}
<article class="card">
  <img id="cover" class="card__img" src="assets/images/illustration-article.svg" alt="" />

  <div class="card__header">
    <span class="card__header--tag">{{content.tag}}</span>
    <h3 class="card__header--date">{{content.date}}</h3>
    <h2 class="card__header--title">
      <a class="card__header--title--link" href="#">{{content.title}}</a>
    </h2>

    <p class="card__description">{{content.description}}</p>

    <div class="card__footer">
      <img class="card__footer--avatar" src="{{content.avatarImg}}" alt="{{content.author}} avatar" />
      <p class="card__footer--author">{{content.author}}</p>
    </div>
  </div>
</article>
{% endmacro %}
