article.card
  img#cover.card__img(
    src='assets/images/illustration-article.svg',
    alt='html tag'
  )

  .card__header
    span.card__header--tag Learning
    h2.card__header--date Published 21 Dec 2023
    h1.card__header--title
      a.card__header--title--link(href='#') HTML & CSS foundations

    p.card__description These languages are the backbone of every website, defining structure, content, and presentation.

    .card__footer
      img.card__footer--avatar(
        src='assets/images/image-avatar.webp',
        alt='Greg Hooper avatar'
      )
      h2.card__footer--author Greg Hooper
